@font-face {
  font-family: DejaVuSansCondensed;
  src: url(../fonts/DejaVuSansCondensed.ttf);
}

/*
Desktop: 1920×1080, 1366×768, 1280×1024, 1024×768
Mobile: 375×667, 414×736, 360×800, 390×844
Tablet: 768×1024, 1024×768, 601×962
*/

html, body {
/*    background-color  : #191919;*/
    background-color      : #000;
    background-image      : url('../img/bg_stone.png');
    background-repeat     : repeat-x;
    background-size       : 50% auto;
    background-attachment : fixed;
    font-family           : DejaVuSansCondensed;
}
    html *, body * {
        color   : #FFF;
        margin  : 0;
        padding : 0;
    }

    a {
        color           : #FFF;
        text-decoration : none;
    }
    a:hover {
        color           : #e7c057;
        text-decoration : underline;
    }

    .content {
        padding          : 35px 0 0 0;
        width            : 860px;
        margin           : 0 auto;
        text-align       : center;
    }

    section {
        background-color : #000000;
        padding          : 20px 40px 40px 0 !important;
        margin           : 0;
        border-bottom    : 1px dashed #222;
    }

    header {
    }

    footer {
        padding   : 10px 0 20px 0;
        font-size : 11px;
        display   : flex;
        width     : 100%;
    }
        footer .left {
            text-align : left;
            flex       : 1;
            color      : #999;
        }
        footer .right {
            text-align : right;
            flex       : 1;
            color      : #999;
        }
        footer a {
            text-decoration: underline;
            color: #999;
        }

    .content .card {
      background-color: #333;  /* Dark background for each card */
      color: #fff;  /* White text color */
    }

    .content .card-header {
      background-color: #222;  /* Even darker shade for headers */
    }

    .content .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .content .btn-warning {
      background-color: #ffc107;
      border-color: #ffc107;
    }

    .content .btn-secondary {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .gradient-text {
        background-image: linear-gradient(to bottom, #FFF 0%, #999 100%);

        /* Ensure the gradient is only visible on the text */
        -webkit-background-clip: text;
        background-clip: text;

        /* Make the text color transparent so the gradient shows through */
        color: transparent;

        /* WebKit-specific styling for compatibility */
        -webkit-text-fill-color: transparent; 
    }
