.logo {
	background: url('../img/logo.jpg') center -20px / 130px auto no-repeat;
	padding: 90px 0 20px 0;
}
	.logo .nelga-marketing {
		font-size: 0;
/*		margin-top: -40px;*/
		overflow: hidden;
		height: 55px;
	}
		.logo .nelga-marketing .left {
			font-size: 42px;
			color: #ce554c;
		}

		.logo .nelga-marketing .right {
			font-size: 42px;
			color: #e8bc52;
		}

	.logo .business-is-pleasure {
		margin: 0 0 0 0;
	}