.menu {
    display: flex;
    justify-content: center; /* Centers the menu horizontally in the div */
    width: 100%; /* Menu width is 100% of the viewport */
    background: linear-gradient(to bottom, #292929 0%, #161616 100%); /* Slight dark-gray to darker-gray gradient */
    text-align: center; /* Centering the menu items */
    padding: 6px 0; /* Padding around menu items */
    box-shadow: 0 0 10px #000;
    position: fixed;
    z-index: 1000;
}

    .menu .menu-items {
        list-style: none; /* Removes default list styling */
        padding: 0; /* Removes default padding */
        margin: 0; /* Removes default margin */
        display: flex; /* Makes the list horizontal */
    }

    .menu .menu-item {
        margin: 0 10px; /* Adds space between the menu items */
    }

    .menu .menu-link {
        font-size: 12px;
    }

    .menu a {
        color           : #AAA;
        text-decoration : none;
    }
    .menu a:hover {
        color           : #FFF;
    }