.menu {
    display: flex;
    justify-content: center; /* Centers the menu horizontally in the div */
    padding: 10px 0 0 0; /* Padding above and below the menu */
}

    .menu .menu-items {
        list-style: none; /* Removes default list styling */
        padding: 0; /* Removes default padding */
        margin: 0; /* Removes default margin */
        display: flex; /* Makes the list horizontal */
    }

    .menu .menu-item {
        margin: 0 10px; /* Adds space between the menu items */
    }

    .menu .menu-link {
        font-weight: bold; /* Makes the text bold */
    }